# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/casting_db

# Server Configuration
PORT=3000
JWT_SECRET=supersecretjwtkeyforcastingapp2026

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=prmynfbv
CLOUDINARY_API_KEY=516387729162788
CLOUDINARY_API_SECRET=mkNOglXKr13ziWD4Yl65wJ3QLuA
